project         = "downtown65graphql"
region          = "europe-north1"
gke_master_pass = "your-gke-password"
databases = [{
  name     = "events"
  username = "events"
  password = "password"
  }, {
  name     = "wordpress"
  username = "wordpress"
  password = "password"
}]
