project         = "downtown65graphql"
region          = "europe-north1"
databases = [{
  name     = "db-1"
  username = "username1"
  password = "password1"
  }, {
  name     = "db2"
  username = "username2"
  password = "password2"
}]
